@import url('https://fonts.googleapis.com/css2?family=Exile&family=Fredericka+the+Great&family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exile&family=Poetsen+One&display=swap');
.Home-class{
    display:flex;
    align-items: center;
    justify-content:center ;
    margin-top: 120px;
    column-gap:120px;
    height:100%;
    color: rgb(128, 229, 235);
}
.editor-pic-box {
    position: relative;
    height: 400px;
    width: 400px;
    margin: 50px;
    border-radius: 50%;
    overflow: hidden;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.editor-pic-box::before {
    content:"";
    
    position: absolute;
    top: -10px;
    left: -10px;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background: conic-gradient(red, yellow, lime, aqua, blue, magenta, red,violet);
    animation: spin 3s linear infinite;
    z-index:-1;
    filter: blur(10px); 
    /* Optional for glow */
    /* filter: drop-shadow(10px); */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.main-editor-img {
    width: 97%;
    height: 97%;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    z-index: 5;
}


.editor-name{
 font-family: "Fredericka the Great", serif;
  font-weight: 500;
  font-style: normal;
    font-size:60px;
    text-align: center;
    padding-top: -10px;
    animation: slideBottom 1s ease forwards;
    animation-delay:0s; 
}

.editor-info-box{
    background-color: #1b1e10;
    height:600px;
    width:600px;
    border-radius: 25%;
    border: solid black 10px ;
    text-align:justify;
    padding-top: 8%;
  font-family: "Poetsen One", sans-serif;
    font-weight: 100;
    font-size: x-large;
    /* text-decoration: double; */
    text-align: justify;
    padding-left: 25px;
  box-shadow: 0 10px 20px rgb(198, 62, 62);

}
.social-handles{
    align-items: center;
    display: flex;
    justify-content: space-around;
    /* color: white; */
    font-size: larger;
    font-weight: 900;
    margin-top: -25px;

}

.editor-info-box .info{
    animation: slideLeft  1.5s ease ;
    /* animation-delay: 1.2s; */
    
}
@keyframes slideLeft {
    0%{
        transform: translateX(-20px);
        opacity: 0;
    }
    100%{
        transform:translateX(0) ; 
        opacity: 1;   
    }
}

@keyframes slideBottom {
   0%{
        transform: translate3d(270deg,270deg,270deg);
        opacity: 0;
    }
    100%{
        transform:translateX(0deg,0deg,0deg) ; 
        opacity: 1;   
    }
}
